@model dt102g_projekt.Models.Post
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">
    <h1>Nyhetsinlägg</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>@Html.DisplayNameFor(model => model.Title)</h2>
            <span class="text-muted">@Html.DisplayFor(model => model.DatePosted)</span>
            <p>
                @Html.DisplayFor(model => model.Content)
            </p>
            <div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Redigera nyhetsinlägg</a>
                }
            </div>
            <a class="m-2 d-block text-center" asp-action="Index">Alla nyheter</a>
        </div>


    </div>

</section>