@model dt102g_projekt.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="container">
        <h1 class="pt-4">Redigera nyhetsinlägg</h1>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" class="form-control" rows="8"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Uppdatera nyhetsinlägg" class="btn btn-primary" />
                    </div>
                </form>
                <div>
                    <a class="m-2 d-block text-center" asp-action="Index">Alla nyheter</a>
                </div>
            </div>
        </div>
    </section>
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
